.metadata/
gameOfLifeApp/.classpath
gameOfLifeApp/.project
gameOfLifeApp/.settings/
.recommenders/
pokerApp/.classpath
pokerApp/.project
pokerApp/.settings/
bowlingGameApp/.classpath
bowlingGameApp/.project
bowlingGameApp/.settings/
bowlingGameApp/target/
pokerApp/target/
gameOfLifeApp/target/
